{% include 'base/main.html' %}
{% load static %}
{% block content %}

<style type="text/css">
	#user_pic{
		height: 200px;
		width: 200px;
		border-radius: 50%;
		border:5px solid #888;
		margin:0 auto;
		object-fit: cover;
	}

	#user-info-box{
		text-align: center;
	}
</style>

<div class="main-container">
	<br>
	<div class="row">
		<div class="col-md-4">
			<div class="card card-body" id="user-info-box">
				<img id="user_pic" src="{{profile.profile_pic.url}}">
				<br>
				<h2>{{profile}}</h2>
				<p>Email: {{profile.email}}</p>
				<hr>
				<p>{{profile.bio}}</p>
				<hr>
				<a class="btn btn-info btn-block" href="{% url 'update_profile' %}">Edit Profile</a>
			</div>
		</div>
		<div class="col-md-8">
			<div class="card card-body">
				<h3>Hi {{profile}}</h3>
				<hr>
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th>My Website name</th>
							<th>Date</th>
							<th>About</th>
							<th></th>
						</tr>
					</thead>
					<tr>
						<td>VuViet's Blog</td>
						<td>7-24-2022</td>
						<td>Vietnamese blog</td>
						<td><a class="btn btn-dark btn-sm" href="https://vutriviet.herokuapp.com/">View Website</a></td>
					</tr>

					<tr>
						<td>Steve's Blog</td>
						<td>7-29-2022</td>
						<td>English blog</td>
						<td><a class="btn btn-dark btn-sm" href="https://stevenblogspot.herokuapp.com/">View Website</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
